{% extends "base.html" %}
{% block pageHeader %}
<i class="fa fa-key fa-fw"></i> CREDENTIALS

{% endblock %}

{% block content %}
    <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse9">
            <i class="fa fa-key fa-fw"></i> Twitter Credentials</a>
            <span class="pull-right"><a data-toggle="modal" href="#creddModal" data-target="#credModal"><i class="fa fa-plus fa-fw"></i></a></span>
        </div>
        <div id="collapse9" class="panel-collapse collapse in">
            <div class="panel-body">

                <div class="list-group">
                     {% for cred in credentials %}
                    <span class="list-group-item">{{cred.name}} <a href="{{ url_for('removecredential', id=cred.row_id) }}" class="btn btn-danger btn-xs pull-right" role="button" ><i class="fa fa-trash fa-fw"></i></a></span>

                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</div>

    <h5><div class="modal fade" id="credModal" tabindex="-1" role="dialog" aria-labelledby="credModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-key" aria-hidden="true"></i> ADD CREDENTIALS</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form action="" method="post" name="auth_name">
                        {{ credentialForm.hidden_tag() }}
                         <div class="form-group">
                             <label for="title"data-toggle="popover" title="Name" data-placement="left" data-content="TBD">Name</label>
                              {{credentialForm.name(class="form-control",id="collectionTypeInput")}}
                         </div>
                         <div class="form-group">
                             <label for="title"data-toggle="popover" title="Consumer Key" data-placement="left" data-content="TBD">Consumer Key</label>
                              {{credentialForm.consumer_key(class="form-control",id="collectionTypeInput")}}
                         </div>

                         <div class="form-group">
                             <label for="title"data-toggle="popover" title="Consumer Secret" data-placement="left" data-content="TBD">Consumer Secret</label>
                              {{credentialForm.consumer_secret(class="form-control",id="collectionTypeInput")}}
                         </div>
                         <div class="form-group">
                             <label for="title"data-toggle="popover" title="Access Token" data-placement="left" data-content="TBD">Access Token</label>
                              {{credentialForm.access_token(class="form-control",id="collectionTypeInput")}}
                         </div>
                          <div class="form-group">
                             <label for="title"data-toggle="popover" title="Access Token" data-placement="left" data-content="TBD">Access Secret</label>
                              {{credentialForm.access_secret(class="form-control",id="collectionTypeInput")}}
                         </div>


                </div>

                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input class="btn btn-default" type="submit" value="Save">
            </div>
        </div>
        </form>
    </div>
</h5>

<div class="col-lg-4">
<div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse5">
            <i class="fa fa-key fa-fw"></i> Admin Password</a>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form" method="post" action="{{ url_for('settings') }}" role="search">
                    {{ passForm.hidden_tag() }}

            <div class="input-group">
                {{passForm.password(class="form-control",id="password",placeholder="New password")}}
                    </div>
                    <br>
                    <div class="input-group">
                {{passForm.confirm(class="form-control",id="confirm",placeholder="Repeat new password ")}}
                    </div>
                    <br>
                    <div class="input-group-btn">
                    <button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-save fa-fw"></i>Save</button>
                </div>
        </form>
            </div>
        </div>
</div>
</div>



<script>$('.collapse').collapse()</script>


{% endblock %}

