{% extends "base.html" %}
{% block pageHeader %}
<div class="row"><div class="col-lg-12 col-md-6">
    {{ form.hidden_tag() }}
    <div class="col-lg-6 ">
        <form class="form" method="post" action="{{ url_for('search') }}" role="search">
            <div class="input-group">
                {{form.search(class="form-control",id="search")}}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search!</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}



<div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"> <b>USER TIMELINES</b>
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{twitterUserCount}}</div>
                    <div>ACTIVE TARGETS</div>
                </div>
            </div>
        </div>
        <a href="/twittertargets/1">
            <div class="panel-footer">
                <span class="pull-left">Show</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"> <b>API-SEARCHES</b>
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-search fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{twitterSearchCount}}</div>
                    <div>ACTIVE TARGETS</div>
                </div>
            </div>
        </div>
        <a href="/twittersearchtargets/1">
            <div class="panel-footer">
                <span class="pull-left">Show</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"> <b>COLLECTIONS</b>
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-archive fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{collectionCount}}</div>
                    <div>ACTIVE TARGETS</div>
                </div>
            </div>
        </div>
        <a href="/collections/1">
            <div class="panel-footer">
                <span class="pull-left">Show</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"> <b>TRENDS</b>
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-line-chart fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{trendsCount}}</div>
                    <div>ACTIVE TARGETS</div>
                </div>
            </div>
        </div>
        <a href="/twittertrends">
            <div class="panel-footer">
                <span class="pull-left">Show</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<script>$('.collapse').collapse()</script>
                                        <script>
                    function update_values() {
                     $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                     $.getJSON($SCRIPT_ROOT+"/_qmonitor",
                     function(data) {
                     $("#q").text(data.qlen)
                });

        }
setInterval(update_values, 3000)
                    </script>
{% endblock %}

