{% extends "base.html" %}
{% block pageHeader %}
<i class="fa fa-cogs fa-fw"></i> SYSTEM SETTINGS
{% endblock %}

{% block content %}
<div class="col-lg-8">
     {% if workers == []%}
     <div class="panel panel-danger">
     {% else %}
    <div class="panel panel-success">
        {% endif%}
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse3">
            <i class="fa fa-cog fa-fw"></i> Workers</a>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                     {% if workers == []%}
                     Hmmm... No workers alive, please start a worker.py and <a href="{{ url_for('index')}}">reload</a> this page!
                     {% else %}
                    <table class="table table-bordered">
                        <tr>
                            <th>Worker</th>
                            <th>Alive Since</th>
                            <th>Successful jobs</th>
                            <th>Failed jobs</th>
                            <th>Working time</th>
                        </tr>
                        {% for worker in workers %}
                         <tr>
                             <td>{{worker.name}}</td>
                             {%if worker.birth_date%}<td>{{worker.birth_date.strftime('%Y-%m-%d %H:%M:%S')}}</td> {%else%}<td>N/A</td>{% endif %}
                             <td>{{worker.successful_job_count}}</td>
                             <td>{{worker.failed_job_count}}</td>
                             <td>{{worker.total_working_time}}</td>


                         </tr>
                         {% endfor %}

                    </table>
                    {% endif%}



                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
<div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse">
            <i class="fa fa-hand-paper-o fa-fw"></i> Stop Words</a>
        </div>
        <div id="collapse" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form" method="post" action="{{ url_for('settings') }}" role="search">
                    {{ stopForm.hidden_tag() }}
            <div class="input-group">
                {{stopForm.stopWord(class="form-control",id="stopWordInput",placeholder="Filter stop words...", onkeyup="filterTable()")}}

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus fa-fw"></i>Add</button>
                </span>
            </div>
        </form>
<br>
                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="collapse" data-target="#demo">Batch upload</button>
  <br>
   <div id="demo" class="collapse in">
       <br>
 <form method=post action="{{ url_for('uploadStopWords')}}" enctype=multipart/form-data>
     <div class="input-group">
          <span class="input-group-btn">
      <input type=file name=file>

          <button class="btn btn-default btn-xs"type="submit">Upload!</i></button>
          </span>
     </div>
    </form>
   </div>
<br>
                <table id="stopWordTable" class="table table-bordered">
                        <tr>
                            <th>Word</th>
                            <th>Action</th>
                        </tr>
                    {% for w in stopWords %}
                    <tr>
                        <td>{{w.stop_word}}</td>
                        <td><a href="{{ url_for('removestopword', id=w.row_id) }}"><i class="fa fa-trash fa-fw"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
</div>


<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse4">
            <i class="fa fa-align-left fa-fw"></i> Queues</a>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                    <span class="list-group-item">Twitter archive jobs <span class="badge">{{qlen}}</span>
                </div>
                <div class="list-group">
                    <span class="list-group-item">Internal jobs <span class="badge">{{intqlen}}</span>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse6">
            <i class="fa fa-eye-slash fa-fw"></i> Silenced Trends</a>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                    {% for trend in silencedTrends %}
                    <span class="list-group-item">{{trend.name}} <a href="{{ url_for('silenceTrend', id=trend.row_id) }}" class="btn btn-success btn-xs pull-right" role="button" ><i class="fa fa-eye fa-fw"></i></a></span>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
<div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse5">
            <i class="fa fa-key fa-fw"></i> Admin Password</a>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form" method="post" action="{{ url_for('settings') }}" role="search">
                    {{ passForm.hidden_tag() }}

            <div class="input-group">
                {{passForm.password(class="form-control",id="password",placeholder="New password")}}
                    </div>
                    <br>
                    <div class="input-group">
                {{passForm.confirm(class="form-control",id="confirm",placeholder="Repeat new password ")}}
                    </div>
                    <br>
                    <div class="input-group-btn">
                    <button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-save fa-fw"></i>Save</button>
                </div>
        </form>
            </div>
        </div>
</div>
</div>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse2">
            <i class="fa fa-database fa-fw"></i> Storage</a>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
 {% for l in diskList %}
   <div class="progress">
       {% if l.p <= 60 %}
<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ l.p }}%;color:black;">
       {% elif l.p <= 80 %}
  <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ l.p }}%;color:black;">
       {% else %}
      <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ l.p }}%;color:black;">
   {% endif %}
{{ l.n }}      ({{l.f[:5]}} GB free)
          </div>

      </div>
          {% endfor %}


</div>
   </div>
            </div>
        </div>
    </div>
</div>

<script>$('.collapse').collapse()</script>

<script>
function filterTable() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("stopWordInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("stopWordTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
        <script>
                    function update_values() {
                     $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                     $.getJSON($SCRIPT_ROOT+"/_qmonitor",
                     function(data) {
                     $("#q").text(data.qlen),
                     $("#iq").text(data.intqlen)
                });

        }
setInterval(update_values, 3000)
                    </script>

{% endblock %}

